.body {
  margin-top: 30px;
}

.crumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.crumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.folder-name {
  color: blue;
  align-self: flex-start;
}

.current-folder-name {
  color: grey;
  align-self: flex-start;
}

.folder-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.arrow {
  margin: 0 10px;
}

.folder-body {
  display: flex;
  flex-direction: column;
  margin: 35px;
}

.folder-body:hover {
  cursor: pointer;
  color: blue;
}

.folder-body-name {
  margin-top: 0.2em;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.back-button:hover {
  cursor: pointer;
  color: blue;
}
