.crumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.folder-name {
  color: blue;
}

.folder-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.arrow {
  margin: 0 10px;
}

.body {
  margin-top: 30px;
}

.folder-body {
  display: flex;
  flex-direction: column;
  margin: 35px;
}
